html{
    background-color: coral;
}

h1{
    color: brown;
    text-align: center;
}
img.img{
    width: 45px;
    height: 50px;
}
img.img1{
    
    width: 45px;
    height: 50px;
    
}
img.img2{
    width: 45px;
    height: 50px;
}
a.centro{
    
    position: relative;
text-align: center;
    top: 250px;
    right: -450px;
}
a.derecha{
    position: relative;
    right: -950px;
    top: 400px;
}
